@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,200&family=Yellowtail&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, aside, section, footer, main {
    display: block;
}

body {
    background-color: cyan;
    font-family: 'Fraunces', serif;

}
.container {
    width: 1500px;
    margin: 20px auto;
}

h1, h2 {
    font-family: 'Akaya Kanadaka', cursive;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    height: 120px;
    background-color: #0A1849;
    color: white;
    text-align: center;
}

.logo {
    float: left;
    padding: 15px 0;
}

.logo img {
    display: block;
    height: 90px;
    width: 200px;
}

.title {
    text-align: center;
    padding: 40px 0;
}

.grid-container {
    display: grid;
    grid-template-rows: 500px 500px 150px;
    grid-template-columns: 20% 50% 28.7%;
    grid-gap: 10px;
    background-color: white;
}

.aside-items {
    background-color: #EE8B39;
    box-shadow: 5px 5px 5px #aaaaaa;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 10px;
}

.aside-items h2 {
    border-bottom: 1px solid white;
    text-align: center;
    padding: 10px;
    color:#0A1849;
}
.aside-items ul li a{
    text-decoration: none;
    color: #0A1849;
    font-size: 18px;
}

.aside-items ul li a:hover {
    color: blue;
}

.aside-items ul li {
    padding: 10px 10px;
    border-bottom: 1px solid white;
    list-style: none;
}

.aside-items ul li:last-child{
    border-bottom: none;
}

.content {
    box-shadow: 5px 5px 5px #aaaaaa;
    grid-column-start: 2;
    grid-column-end: 4;
}


.content img {
    box-shadow: 5px 5px 5px #aaaaaa;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 10px 5px 10px;
}

.content p {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    text-indent: 1em;
    text-align: justify;
}

.form-area {
    background-color: yellow;
    grid-column-start: 2;
    grid-column-end: 3;
}

.display-area {
    background-color: green;
    grid-column-start: 3;
    grid-column-end: 4;
}

.info-area {
    background-color: honeydew;
    grid-column-start: 2;
    grid-column-end: 4;
}

footer{
    text-align: center;
}

footer p{
    margin: 20px auto;
}