@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,200&family=Yellowtail&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

header, aside, section, footer, main {
    display: block;
}

body {
    background-color: #D1F9FD;
    font-family: 'Fraunces', serif;

}
.container {
    width: 1500px;
    margin: 50px auto;
    background-color: white;
}

h1, h2 {
    font-family: 'Akaya Kanadaka', cursive;
    text-shadow: 2px 2px 2px #aaaaaa;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    height: 120px;
    background-color: #203FA1;
    box-shadow: 5px 5px 5px #aaaaaa;
    color: white;
    text-align: center;
    z-index: 1;
}

.logo {
    float: left;
    padding: 15px 0;
}

.logo img {
    display: block;
    height: 90px;
    width: 200px;
}

.title {
    text-align: center;
    padding: 40px 0;
}

.grid-container {
    display: grid;
    grid-template-rows: 500px 500px 200px;
    grid-template-columns: 20% 50% 28.7%;
    grid-gap: 10px;
    background-color: white;
}

.aside-items {
    background-color: #EE8B39;
    box-shadow: 5px 5px 5px #aaaaaa;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 10px;
}

.aside-items h2 {
    /* border-bottom: 1px solid white; */
    box-shadow: 0px 3px 3px white;
    text-align: center;
    padding: 10px;
    color:#203FA1;
}
.aside-items ul li a{
    text-decoration: none;
    color: #203FA1;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #aaaaaa;

}

.aside-items ul li a:hover {
    color: #7CEFFA;
    text-shadow: none;
}

.aside-items ul li {
    padding: 10px 10px;
    box-shadow: 0px 3px 3px white;
    list-style: none;
}

.aside-items ul li:last-child{
    box-shadow: 0px 2px 2px white;
}

.content {
    box-shadow: 5px 5px 5px #aaaaaa;
    grid-column-start: 2;
    grid-column-end: 4;
}


.content img {
    box-shadow: 5px 5px 5px #aaaaaa;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 10px 5px 10px;
}

.content p {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    text-indent: 1em;
    text-align: justify;
}

.form-area {
    box-shadow: 5px 5px 5px #aaaaaa;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.form-area h2 {
    padding: 20px 0 0 0;
    color: #203FA1;
}

.form-area form {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    border: none;
}

.form-area form .npt {
    border: none;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #aaaaaa;
    color: #203FA1;
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    background-color: #D1F9FD;
    padding: 10px;
}

.form-area form .npt:focus {
    background-color: #203FA1;
    border: 5px solid #203FA1;
    border-radius: 3px;
    color: white;
}

.form-area form button {
    width: 150px;
    height: 40px;
    box-shadow: 5px 5px 5px #aaaaaa;
    border: none;
    border-radius: 3px;
    background-color: lightcyan;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    color: #203FA1;
}

.form-area form button:hover {
    background-color: #203FA1;
    color: white;
}

.choose-color-lable {
    float: left;
    padding: 10px 0;
    color: #203FA1;
    font-size: 18px;
}

.display-area {
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: #D1F9FD;
    grid-column-start: 3;
    grid-column-end: 4;
}

.info-area {
    box-shadow: 5px 5px 5px #aaaaaa;
    grid-column-start: 2;
    grid-column-end: 4;
}

.info-area p {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    text-indent: 1em;
    text-align: justify;
}

footer{
    width: 100%;
    height: 60px;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: #203FA1;
    text-align: center;
    color: white;
    margin-top: 10px;
}

footer p{
    padding: 20px 0;
}