* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, aside, section, footer, main {
    display: block;
}

body {
    background-color: cyan;
}
.container {
    width: 1500px;
    margin: 20px auto;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    /* right: 0; */
    height: 90px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.logo {
    float: left;
}
.title {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-rows: 500px 500px 150px;
    grid-template-columns: 20% 50% 28.7%;
    grid-gap: 10px;
}

.aside-items {
    background-color: turquoise;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.content {
    background-color: tomato;
    grid-column-start: 2;
    grid-column-end: 4;
}


.content img {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 10px 5px 10px;
}

.content p {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    text-indent: 1em;
    text-align: justify;
    line-height: 1.4;
}

.form-area {
    background-color: yellow;
    grid-column-start: 2;
    grid-column-end: 3;
}

.display-area {
    background-color: green;
    grid-column-start: 3;
    grid-column-end: 4;
}

.info-area {
    background-color: honeydew;
    grid-column-start: 2;
    grid-column-end: 4;
}

footer{
    text-align: center;
}

footer p{
    margin: 20px auto;
}